In [43]:
import pandas as pd

sgg_pop = pd.read_csv('report.txt', sep='\t', header=2)

In [44]:
sgg_pop.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2020.3/4,합계,"4,405,833","9,953,009","4,840,912","5,112,097","9,699,232","4,719,170","4,980,062","253,777","121,742","132,035",2.20,"1,552,356"
1,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2.00,"28,396"
2,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
3,2020.3/4,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
4,2020.3/4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"

In [45]:
sgg_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        26 non-null     object
 1   자치구       26 non-null     object
 2   세대        26 non-null     object
 3   계         26 non-null     object
 4   남자        26 non-null     object
 5   여자        26 non-null     object
 6   계.1       26 non-null     object
 7   남자.1      26 non-null     object
 8   여자.1      26 non-null     object
 9   계.2       26 non-null     object
 10  남자.2      26 non-null     object
 11  여자.2      26 non-null     object
 12  세대당인구     26 non-null     float64
 13  65세이상고령자  26 non-null     object
dtypes: float64(1), object(13)
memory usage: 3.0+ KB

In [46]:
condition = sgg_pop['자치구'] != '합계'

In [47]:
condition

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
Name: 자치구, dtype: bool

In [48]:
sgg_pop_selected = sgg_pop[condition]

In [49]:
sgg_pop_selected

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
1,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2.00,"28,396"
2,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
3,2020.3/4,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
4,2020.3/4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"
5,2020.3/4,광진구,"166,857","361,923","174,077","187,846","348,064","168,095","179,969","13,859","5,982","7,877",2.09,"50,047"
6,2020.3/4,동대문구,"167,232","358,679","176,433","182,246","344,416","170,748","173,668","14,263","5,685","8,578",2.06,"61,408"
7,2020.3/4,중랑구,"185,109","400,989","198,012","202,977","395,997","195,981","200,016","4,992","2,031","2,961",2.14,"68,658"
8,2020.3/4,성북구,"195,379","449,871","216,155","233,716","439,719","212,151","227,568","10,152","4,004","6,148",2.25,"73,370"
9,2020.3/4,강북구,"145,790","313,550","152,458","161,092","309,996","151,117","158,879","3,554","1,341","2,213",2.13,"62,951"
10,2020.3/4,도봉구,"139,029","329,300","160,526","168,774","327,248","159,723","167,525","2,052",803,"1,249",2.35,"61,388"
11,2020.3/4,노원구,"218,002","529,532","255,618","273,914","525,486","253,797","271,689","4,046","1,821","2,225",2.41,"84,612"
12,2020.3/4,은평구,"213,039","485,842","233,104","252,738","481,546","231,364","250,182","4,296","1,740","2,556",2.26,"84,353"
13,2020.3/4,서대문구,"144,494","323,860","153,763","170,097","313,212","149,993","163,219","10,648","3,770","6,878",2.17,"53,869"
14,2020.3/4,마포구,"178,495","383,494","179,899","203,595","373,508","176,011","197,497","9,986","3,888","6,098",2.09,"54,053"
15,2020.3/4,양천구,"180,309","460,048","225,596","234,452","456,240","223,889","232,351","3,808","1,707","2,101",2.53,"64,804"
16,2020.3/4,강서구,"266,366","589,536","284,747","304,789","583,544","281,951","301,593","5,992","2,796","3,196",2.19,"88,052"
17,2020.3/4,구로구,"179,792","435,751","217,380","218,371","405,579","200,268","205,311","30,172","17,112","13,060",2.26,"69,312"
18,2020.3/4,금천구,"113,887","249,641","127,292","122,349","232,157","117,489","114,668","17,484","9,803","7,681",2.04,"39,361"
19,2020.3/4,영등포구,"182,087","405,982","202,624","203,358","375,630","185,800","189,830","30,352","16,824","13,528",2.06,"60,826"
20,2020.3/4,동작구,"184,193","404,617","195,373","209,244","393,554","190,422","203,132","11,063","4,951","6,112",2.14,"64,674"
21,2020.3/4,관악구,"275,248","514,555","257,638","256,917","498,574","250,084","248,490","15,981","7,554","8,427",1.81,"78,206"
22,2020.3/4,서초구,"173,483","429,995","205,671","224,324","426,009","203,686","222,323","3,986","1,985","2,001",2.46,"59,495"
23,2020.3/4,강남구,"234,021","544,085","260,358","283,727","539,235","257,961","281,274","4,850","2,397","2,453",2.30,"73,942"
24,2020.3/4,송파구,"281,417","676,673","326,602","350,071","670,331","323,646","346,685","6,342","2,956","3,386",2.38,"92,149"
25,2020.3/4,강동구,"194,602","462,275","227,346","234,929","458,058","225,396","232,662","4,217","1,950","2,267",2.35,"68,798"

In [50]:
sgg_pop_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        25 non-null     object
 1   자치구       25 non-null     object
 2   세대        25 non-null     object
 3   계         25 non-null     object
 4   남자        25 non-null     object
 5   여자        25 non-null     object
 6   계.1       25 non-null     object
 7   남자.1      25 non-null     object
 8   여자.1      25 non-null     object
 9   계.2       25 non-null     object
 10  남자.2      25 non-null     object
 11  여자.2      25 non-null     object
 12  세대당인구     25 non-null     float64
 13  65세이상고령자  25 non-null     object
dtypes: float64(1), object(13)
memory usage: 2.9+ KB

In [51]:
columns = ['자치구','계']
sgg_pop_final = sgg_pop_selected[columns]

In [52]:
sgg_pop_final.head()

   자치구        계
1  종로구  159,842
2   중구  135,321
3  용산구  244,953
4  성동구  302,695
5  광진구  361,923

In [53]:
sgg_pop_final.columns = ['시군구명','주민등록인구']
sgg_pop_final.head()

  시군구명   주민등록인구
1  종로구  159,842
2   중구  135,321
3  용산구  244,953
4  성동구  302,695
5  광진구  361,923

In [54]:
sgg_pop_final.to_excel('sgg_pop.xlsx', index=False)

In [55]:
# 시군구별 종사자수 사업체수

sgg_biz = pd.read_csv('report2.txt', sep='\t', header=2)

In [56]:
 sgg_biz.head()

,기간,자치구,동,사업체수,여성대표자,계,남,여,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
0,2018,합계,합계,"823,385","279,711","5,210,936","2,878,227","2,332,709",30,462,...,"1,282","140,121","35,377","346,219","28,824","378,366","23,025","91,104","69,694","191,423"
1,2018,종로구,소계,"39,952","13,442","265,017","152,717","112,300",3,17,...,89,"15,658",850,"13,504",744,"15,888",909,"6,227","2,448","7,672"
2,2018,종로구,사직동,"3,541","1,191","49,536","28,658","20,878",1,14,...,19,"6,312",86,967,103,870,95,"1,544",252,843
3,2018,종로구,삼청동,712,324,"4,577","2,193","2,384",-,-,...,4,"1,204",14,260,7,30,17,175,24,209
4,2018,종로구,부암동,565,240,"3,609","1,706","1,903",-,-,...,3,59,40,"1,424",15,148,16,40,83,362

In [57]:
condition = sgg_biz['동']=='소계'
sgg_biz_selected = sgg_biz[condition]
sgg_biz_selected.head()

,기간,자치구,동,사업체수,여성대표자,계,남,여,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
1,2018,종로구,소계,"39,952","13,442","265,017","152,717","112,300",3,17,...,89,"15,658",850,"13,504",744,"15,888",909,"6,227","2,448","7,672"
19,2018,중구,소계,"60,957","22,669","390,530","210,755","179,775",-,-,...,62,"19,280",471,"8,321",747,"10,104",558,"3,723","2,138","8,366"
35,2018,용산구,소계,"20,813","7,153","141,216","76,498","64,718",-,-,...,47,"3,149",550,"7,452",579,"6,658",408,"2,831","1,641","5,939"
52,2018,성동구,소계,"27,868","8,432","174,819","100,694","74,125",1,3,...,47,"4,471",961,"11,371",748,"8,539",581,"2,157","2,115","7,612"
70,2018,광진구,소계,"24,535","8,948","127,879","69,442","58,437",1,3,...,36,"2,662","1,183","14,139",909,"11,615","1,033","3,862","2,587","5,608"

In [58]:
columns = ['자치구','사업체수','계']
sgg_biz_final = sgg_biz_selected[columns]
sgg_biz_final.head()

    자치구    사업체수        계
1   종로구  39,952  265,017
19   중구  60,957  390,530
35  용산구  20,813  141,216
52  성동구  27,868  174,819
70  광진구  24,535  127,879

In [59]:
sgg_biz_final.columns = ['시군구명','사업체수','종사자수']
sgg_biz_final.head()

   시군구명    사업체수     종사자수
1   종로구  39,952  265,017
19   중구  60,957  390,530
35  용산구  20,813  141,216
52  성동구  27,868  174,819
70  광진구  24,535  127,879

In [60]:
sgg_biz_final = sgg_biz_final.reset_index(drop=True)
sgg_biz_final.head()

  시군구명    사업체수     종사자수
0  종로구  39,952  265,017
1   중구  60,957  390,530
2  용산구  20,813  141,216
3  성동구  27,868  174,819
4  광진구  24,535  127,879

In [61]:
sgg_biz_final.to_excel('sgg_biz.xlsx', index=False)